html, body, .row, .content, .all{
  height: 100%;
}

.btn-link{
	color:#afafaf;
}

.btn-link:hover, .btn-link:focus{
    color:#615f60;
}

.background{
  background: #fbfbfb;
}

.margin-menu{
  margin-top: 2%;
}

.bar{
  background-color: #1c1f1c;
  box-shadow: 0 2px 5px 3px black;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.button-menu{
    display: none;
    position: fixed;
    top: 2%;
    left: 2%;
    background-image: url("../image/menu.png");
    z-index: 2;
    width: 30px;
    height: 30px;
    background-size: 100% auto;
    border-style: none;
}


.card{
  /*color*/
  background-image: url("../image/background.jpeg");

  background-size: 100% auto;
  background-repeat: no-repeat;
  box-shadow: 0 1px 5px 0 black;
  background-color: #ffffff;

  /*position*/
  position: relative;
  padding: 2% 2%;
  margin-bottom: 10%;


  /*dimension*/
  width: 100%;

  overflow: hidden;
  border-radius: 5px;
}

.card-text{
  background-color: rgba(19, 19, 19, 0.69);
  padding: 2%;
  color: white;
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 30%;
  font-family: latoBold;
  transition: height 1s;
}

.card-text h2{
  margin-top: 1%;
  margin-left: 1%;
  font-size: 10px;
  font-family: latoTint;
}
.card-text p{
  font-style: italic;
  visibility: hidden;
  transition: visibility 1s;
}

.card:hover p{
  visibility: visible;
}
.card:hover .card-text{
  height: 100%;

}


.content{
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;

}

.article{
  width: 100%;
  margin-bottom: 10%;
}

.article h2{
  font-size: 20pt;
  font-weight: bold;
  margin-top: 5%;
}

.article p{
	font-size:15pt;
	margin-left:1%;
}

.header{
  padding: 2% 0% 0% 0%;
  margin-bottom: 15%;
  font-family: latoBold;
  font-size:60px;
}
.header h1{
  font-size: 50pt;
}

.header h2{
  margin-top: 1%;
  margin-left: 1%;
  font-size: 10pt;
  font-family: latoTint;
}

.footer-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  color:white;

}

.footer-bar h3{
  font-size: 10px;

}

.border-bottom{
  border-bottom-color: #414141;
  border-bottom-style: groove;
  border-bottom-width: 1px;
}

.tiitle-content{
  color:#07119a;
  font-size: 80px;
  font-weight: bold;
  margin-left: 5%;
}


.element-sm{
  width: 30%;
}
.element-md{
  width: 60%;
}
.element-lg{
  width: 80%;
}
.element-block{
  width: 100%;
}
.element-top{
  position: absolute;
  top: 0%;
}

.element-center-x-y{
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}
.element-center{
  position: absolute;
  left: 50%;
}
.element-center.element-sm{
  margin-left: -15%;
}
.element-center.element-md{
  margin-left: -30%;
}
.element-center.element-lg{
  margin-left: -40%;
}
.element-center.element-block{
  margin-left: -50%;
}


@font-face {
    font-family: latoBold;
    src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: latoThin;
    src: url("../fonts/Lato-Thin.ttf");
}


/*desktop*/
@media screen and (min-width: 1080px) {
  .content{
    width: 700px;
    left: 50%;
    margin-left: -350px;
  }

  .card{
    height: 350px;
  }

  .card-text h1{
    font-size: 25pt;
  }
  .card-text h2{
    font-size: 8pt;
  }
  .card-text p{
    font-size: 12pt;
    margin: 6% 5% 0 5%;
  }
}

/*tablet*/
@media screen and (min-width: 550px) and (max-width: 1079px) {
  .content{
    width: 500px;
    left: 50%;
    margin-left: -250px;
  }

  .card{
    height: 250px;

  }

  .card-text h1{
    font-size: 20pt;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .card-text h2{
    font-size: 6pt;
  }
  .card-text p{
    font-size: 8pt;
    margin: 5% 5% 0 5%;
  }
}

@media screen and ( min-width: 768px ) {
  .collapse{
      display: block;
  }
}


@media screen and ( max-width: 767px ) {
  .button-menu{
    display: inline;
    background-color: white;
  }
}

/*smartphone large*/
@media screen and (min-width: 330px)and (max-width: 549px){
  .content{
    width: 300px;
    left: 50%;
    margin-left: -150px;
  }

  .card{
    height: 180px;
  }

  .card-text h1{
    font-size: 20pt;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .card-text h2{
    font-size: 6pt;
  }
  .card-text p{
    font-size: 8pt;
    margin: 5% 5% 0 5%;
  }
}

/*smartphone small*/
@media screen and (max-width: 329px){
  .content{
    width: 230px;
    left: 50%;
    margin-left: -115px;
  }

  .card{
    height: 120px;
  }

  .card-text h1{
    font-size: 20pt;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .card-text h2{
    font-size: 6pt;
  }
  .card-text p{
    font-size: 8pt;
    margin: 5% 5% 0 5%;
  }
}
